<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tdct</string>
		<string>scotiabank</string>
		<string>bmoolbb</string>
		<string>cibcbanking</string>
		<string>conexus</string>
		<string>rbcmobile</string>
		<string>pcfbanking</string>
		<string>fb</string>
		<string>instagram</string>
		<string>twitter</string>
		<string>fb-messenger</string>
		<string>whatsapp</string>
		<string>x</string>
		<string>tg</string>
		<string>bncmobile</string>
		<string>nech</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
